div {
  background-color: #3e4444;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'meriweather', sans-serif;
  color: white;
}

a {
  color: #11999E;
}

p {
  font-size: 1.5rem;
  color: #66BFBF;
}

h1 {
  font-size: 3em;
  margin: 50px auto auto;
  font-family: 'sacramento', cursive;
  color: #11999E;
  line-height: 1;
}

h2 {
  font-family: 'meriweather', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
  font-weight: normal;
}

.white-text {
  margin-top: 0;
  line-height: 6;

}

h3 {
  font-family: 'meriweather', sans-serif;
}

.bottom-cloud {
  color: blue;
  position: absolute;
  left: 200px;
  top: 300px;
  }

.btn {
  padding-top: 10px;
  display: inline-block;
}

.garden {
  max-width: 15%;
}

.family {
  max-width: 15%;
}

.kids {
  max-width: 15%;
}

.contact {
  max-width: 15%;
  padding-bottom: 10px;
}

.house {
  max-width: 15%;
}

.top-cloud {
  color: blue;
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #3e4444;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #3e4444;
  margin:100px auto 100px auto;
}

.bottom-container {
  background-color: #3e4444;
}
